<div class="spaceTop"></div>
<div class="container" *ngIf="data?.user">
        <div class="imgs">
            <img  src="assets/โฆษณา.png" 
            alt="เพิ่มผู้ใช้"
            width="100%"
            height="600px">
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="column" style="background-color:#ffffff;">
              <h2 style="display: flex; color: #bf64b6; font-weight: bold; font-family: 'Charm', cursive;">สินค้าที่มียอดขายสูงสุด</h2>

              <h2 style="display: flex;font-weight: bold;color: #bf64b6;font-weight: bold; ">สินค้าแนะนำ</h2>
              <p class="item" routerLink="/Shop">ดูทั้งหมด</p>
            </div>
            <div class="column" style="background-color:#bbb;" *ngFor="let ProductHit of ProductHit">
              <div style="text-align: center;">              
                <img src="http://localhost:3000/customer/api/image1/{{ProductHit.imagefile}}" 
                 alt="เพิ่มผู้ใช้"
                 width="150px"
                 height="150px">
                 <p style=" font-weight: bold; ">{{ProductHit.productName}}</p>
            </div>

            </div>
            
          </div>


          <div class="listDoctor">
            <div style="text-align: center; margin-top: 15px; color: #d083c8; font-weight: bold; padding: 0.935rem;">
                <h2 style="font-weight: bold; font-family: 'Charm', cursive;">คุณหมอแนะนำ</h2>
            </div>
            <div class="listItem">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="margin: 10px; cursor: pointer;" *ngFor="let getDoctors of getDoctors">
                        <div class="card1" style="text-align: center;">
                            <img style="border-radius: 10px; margin: auto; padding: 10px;" src="http://localhost:3000/customer/api/image1/{{getDoctors.imageFile}}" 
                                 alt="เพิ่มผู้ใช้"
                                 width="250"
                                 height="250">
                            <p style="font-size: 1.2rem; font-weight: bold; color: rgb(5, 95, 163);">{{ getDoctors.firstName }} {{ getDoctors.lastName }}</p>
                            <p>{{ getDoctors.departmentNames }}</p>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;"> 
                    <button class="button" routerLink="/doctor">ดูทั้งหมด →</button>
                </div>
            </div>
        </div>
        
</div>

<div class="container" *ngIf="data.doctors" >
  <div class="row justify-content-center">
    <div class="col-3" style="margin: 10px;" style="margin: 10px;text-align: center; cursor: pointer;" >
      <div class="card1" >
        <div style="padding: 0.935rem;">
          <div style="display: flex;justify-content: flex-end; font-size: 1.5rem;font-weight: bold;"> รายงานสรุปรายได้ </div>
          <div style="display: flex;justify-content: flex-end;font-size: 1.5rem;font-weight: bold;">ดูทั้งหมด</div>
          <div><img style="border-radius: 10px;" src="assets/profit.png" 
           alt="เพิ่มผู้ใช้"
           width="200px%"
           height="200px"></div>
        </div>
      </div>
    </div>

    <div class="col-3" style="margin: 10px;text-align: center; cursor: pointer;" routerLink="/doctor/petitions" [queryParams]="{ doctorsID: data.doctors.doctorsID}">
      <div class="card2" >
        <div style="padding: 0.935rem;">
       <div style="display: flex;justify-content: flex-end; font-size: 1.5rem;font-weight: bold;"> รายละเอียดการปรึกษา </div>
       <div style="display: flex;justify-content: flex-end;font-size: 1.5rem;font-weight: bold;">ดูทั้งหมด</div>
       <div><img style="border-radius: 10px;" src="assets/preview.png" 
        alt="เพิ่มผู้ใช้"
        width="200px%"
        height="200px"></div>
      </div>
    </div>
    </div>



    <div class="col-3" style="margin: 10px;text-align: center; cursor: pointer;"  routerLink="/doctor/petition" [queryParams]="{ doctorsID: data.doctors.doctorsID}">
      <div class="card3" >
        <div style="padding: 0.935rem;">
          <div style="display: flex;justify-content: flex-end;font-size: 1.5rem;font-weight: bold;"> คำร้องขอการปรึกษา </div>
          <div style="display: flex;justify-content: flex-end;font-size: 1.5rem;font-weight: bold;">ดูทั้งหมด</div>
          <div><img style="border-radius: 10px;" src="assets/user.png" 
           alt="เพิ่มผู้ใช้"
           width="200px%"
           height="200px"></div>
        </div>
      
      </div>
    </div>
  </div>
</div>
<div class="spaceTop"></div>
<router-outlet></router-outlet>