<div class="container" style="margin-top: 25px;">
    <div class="main-body">
        <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img style="justify-content: center; text-align: center;"
                    src="http://localhost:3000/customer/api/image1/{{userData.imageFile}}"
                    alt="user"
                    width="200"
                    height="200"
                    onerror="this.src='assets/default.jpg'">  
                    <div class="mt-3">
                    
                </div>
                </div>
            </div>
            </div>
        
    </div>
    <div class="col-md-8">
        <div class="card mb-3">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{userData.firstName}}       {{userData.lastName}}
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">อายุ</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{calculateAge(userData.birthday)}}
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">เพศ</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ getGenderDescription(userData.gender) }}
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
            </div>
            <div class="col-sm-9 text-secondary">
             {{userData.mobilePhone}}
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">อีเมล</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{userData.email}}
            </div>
            </div>
            <hr>
            <div class="row">
                <button class="button" [routerLink]="['/customer/details']">
                    <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
                    <span>Back</span>
                  </button>
            </div>
        </div>
        </div>